html {
    height: 97%;
    width: 97%;
}
body{
    height: 97%;
    width: 97%;
}
.pic{
    width: 40%;
    height: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}