p,a,button{
    font-family: 'Courier', monospace;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    background: #1F1D36;
}
.picgrid{
    height:50% ;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "a b" "a c" "d d";
    grid-auto-rows: min-content(200px, auto);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.pic1{
    grid-area: a;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.pic2{
    grid-area: b;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.pic3{
    grid-area: c;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.pic4{
    grid-area: d;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.grid{
    height:50% ;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "d d" "b c";
    grid-auto-rows: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.i0{
    grid-area: d;
    background-color: #eee;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    font-family: 'Courier', monospace;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

.i2{
    background-color: cornflowerblue;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    grid-area: b;
    font-family: 'Courier', monospace;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
.i3{
    background-color: cornflowerblue;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    grid-area:c;
    font-family: 'Courier', monospace;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
@media screen and (max-width:660px) {
    .picgrid{
        height:100% ;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "a b" "a c" "d d";
        grid-auto-rows: auto;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .grid{
        height:100% ;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "d d"  "b c";
        grid-auto-rows: 300px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
@media screen and (max-width:1450px) and (min-width:660px) {
    .picgrid{
        height:50% ;
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "a b" "a c" "d d";
        grid-auto-rows: min-content(200px, auto);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .grid{
        height:50% ;
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "d d" "b c";
        grid-auto-rows: 300px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}