body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    background: darkslategray;
}
.picgrid{
    height:100% ;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "a b" "a c" "d d";
    grid-auto-rows: 200px;
    position: absolute;
    top: 10%;
    right: 0;
}
.pic1{
    grid-area: a;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.pic2{
    grid-area: b;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.pic3{
    grid-area: c;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.pic4{
    grid-area: d;
    background-color: azure;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.grid{
    height:100% ;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "d b" "a b" "a c";
    grid-auto-rows: 200px;
    position: absolute;
    top: 10%;
    left: 0;
}

.i0{
    grid-area: d;
    background-color: #eee;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
}
.i1{
    background-color: #eee;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    grid-area: a;
}
.i2{
    background-color: cornflowerblue;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    grid-area: b;
}
.i3{
    background-color: cornflowerblue;
    border-radius: 10px;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    grid-area:c;
}
@media screen and (max-width:660px) {
    .picgrid{
        height:100% ;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "a b" "a c" "d d";
        grid-auto-rows: auto;
        position: absolute;
        top: 150%;
        left: 0;
    }
    .grid{
        height:100% ;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "d b" "a b" "a c";
        grid-auto-rows: auto;
        position: absolute;
        top: 0%;
        left: 0;
    }
    
}
@media screen and (max-width:1450px) and (min-width:660px) {
    
}